[mpc_env]

pref_speed = 0.90
        # robot preferred speed

max_speed = 0.95
        # robot maximum speed

max_rev_speed = 0.95
        # robot maximum reverse speed

max_rot_degrees = 60
        # robot maximum rotation in one time-step in degrees

max_l_acc = 0.5
        # robot maximum linear acceleration (m/s)

max_l_dcc = 1.5
        # robot maximum linear deceleration NB must be negative (m/s)

mpc_horizon = 10

max_human_groups = 100

w_goal = 1.0

w_safe = 10.0

w_follow = 50.0

w_smooth = 0.1

d_safe = 0.45

dt = 0.1

obs_radius = 10